@media all and (min-width: 480px) {
    /*style for change password page */
    .ChangePassword {
      padding: 0% 15%;
      border-style: solid;
      border-radius: 5%;
      width: 45%;
      height: 60%; 
      margin-top: 10%;
      margin-left: auto; 
      margin-right: auto;
      background: linear-gradient(to bottom,  #e43a30 15%, #2d5071 20%);
    }
    /*style for change passwrod form */
    .ChangePassword form {
      margin: 25% auto;
      max-width: 620%;
      display: block;
      margin-top: 13%;
      color: white;
      margin-bottom: 25%;
      height: -10px;
      font-size: 14px;
    }

    /*style for confirmation code header */
    .ChangePassword .formHeader h1{
    display: inline-block;
    color: white;
    border-radius: 15%;
    padding-left: 9%;
    margin-bottom: 30%;
    margin-top: -10%;
    
    }

     /*style for login button */
   .ChangePassword Button{
    background: #e43a30;
    border: black;
    color: white;
   }
  }