.NewQuestion form {
  padding-bottom: 15px;
}

.NewQuestion form textarea {
  height: 150px;
  font-size: 24px;
}

.NewQuestion form label.CorrectChkBox {
  padding-top: 2px;
  padding-left: 27.5%;
  position: static;
  font-weight: normal;
}

/* Answer and Feedback Group Titles */
.NewQuestion form label.answerTitle {
  padding-top: 5px;
}

/* Answer and Feedback Field Labels */
.NewQuestion form label.fieldTitle {
  font-weight: normal;
  padding-top: 10px;
}

/* Answer/Feedback Attachment Labels */
.NewQuestion form label.answerAttachment {
  padding-top: 5px;
  font-weight: normal;
}

/* Time Suggestion Label */
.NewQuestion form label.timeSuggested {
  padding-right: 10px;
}

/* Time Suggestion Field */
.NewQuestion form input.timeField {
  width: 40px;
}

/* Solution Field */
.NewQuestion form label.solutionTitle {
  padding-top: 10px;
}

.NewQuestion form {
  padding-bottom: 15px;
}

.NewQuestion form textarea {
  height: 150px;
  font-size: 24px;
}

.NewQuestion form label.CorrectChkBox {
  padding-top: 2px;
  padding-left: 27.5%;
  position: static;
  font-weight: normal;
}

/* Answer and Feedback Group Titles */
.NewQuestion form label.answerTitle {
  padding-top: 5px;
}

/* Answer and Feedback Field Labels */
.NewQuestion form label.fieldTitle {
  font-weight: normal;
  padding-top: 10px;
}

/* Answer/Feedback Attachment Labels */
.NewQuestion form label.answerAttachment {
  padding-top: 10px;
  font-weight: normal;
}

/* Time Suggestion Label */
.NewQuestion form label.timeSuggested {
  padding-right: 10px;
}

/* Time Suggestion Field */
.NewQuestion form input.timeField {
  width: 40px;
}

/* Solution Field */
.NewQuestion form label.solutionTitle {
  padding-top: 10px;
}

.containerDiv {
  width: 85%;
  background-color: rgb(248, 249, 250);
  border: 1px solid rgb(202, 208, 215);
  border-radius: 15px;
  padding: 10px 30px 10px 20px;
  margin: 50px auto;

}

.headerTitle {
  text-align: center;
  font-size: 1.5em;
  font-weight: normal;
  padding-top: 10px;
  padding-bottom: 10px;
}

.textBox {
  text-align: center;
  padding-left: 70px;
  padding-right: 70px;
  padding-top: 10px;
}

.textStyling {
  font-size: 0.9em;
}

.attachmentPreview {
  width: 60%;
  margin: auto;
  padding: 20px 20px;
}

.chkBoxAlign {
  margin-left: 20%;
  margin-right: 40%;
  padding-left: 40%;
  padding-top: 10px;
}

.loaderButtonStyle {
  width: 85%;
  margin: auto;
}

.btn-primary {
  background-color:rgb(228, 58, 38);
}

.label {
  font-weight: 400;
}

.suggestedTimeCentered {
  width: 10%;
  margin-left: 45%;
}

.textBold {
  font-weight: 600;
}

::-webkit-input-placeholder { /* Chrome/Opera/Safari */
  font-size: 1em;
}
::-moz-placeholder { /* Firefox 19+ */
  font-size: 0.8em;
}
:-ms-input-placeholder { /* IE 10+ */
  font-size: 0.7em;
}
:-moz-placeholder { /* Firefox 18- */
  font-size: 0.7em;
}

@media only screen and (max-width: 774px) {
  .textBox {
    text-align: center;
    padding-left: 10px;
    padding-right: 10px;
    padding-top: 10px;
  }
  .suggestedTimeCentered {
    width: 30%;
    margin-left: 40%;
  }
  
  .middle, .middleBelow {
    display: none;
  }
  .CorrectChkBox {
    width: 5px;
    padding-left: 80%;
    float: left;
    margin-left: 20%;
  }
}

@media only screen and (min-width: 775px) {
  .responsiveLayout {
    margin-left: 5%;
    margin-right: 5%;
    padding-left: 2%;
    padding-top: 10px;
    width: 60%;
  }
  .CorrectChkBox {
    width: 5px;
    padding-left: 50%;
    float: left;
  }
  .chkBoxAlign {
    margin-left: 2%;
    margin-right: 5%;
    padding-left: 1%;
    padding-top: 10px;
  }
  .column {
    float: left;
    width: 20%;
    padding-top: 20px;
    margin-bottom: 50px;
  }

  .left {
    width:5%;
    margin-top: 5px;
  }

  .middle {
    width: 20px;
    margin-left: 25%;
    margin-top: 100px;
    position: absolute;
  }

  .middleBelow {
    width: 20px;
    margin-left: 15%;
    margin-top: 300px;
    position: absolute;
  }

  .right {
    width: 60%;
    margin-left: 30%;
  }

  /* Clear floats after the columns */
  .row:after {
    content: "";
    display: table;
    clear: both;
  }
}

@media only screen and (min-width: 900px) {

  .middleBelow {
    width: 20px;
    margin-left: 17%;
    margin-top: 300px;
    position: absolute;
  }

}

@media only screen and (min-width: 1125px) {

  .middleBelow {
    width: 20px;
    margin-left: 20%;
    margin-top: 300px;
    position: absolute;
  }

}


@media only screen and (min-width: 1428px) {

  .middleBelow {
    width: 20px;
    margin-left: 20%;
    margin-top: 300px;
    position: absolute;
  }

}

@media only screen and (min-width: 1429px) {

  .middleBelow {
    width: 20px;
    margin-left: 22%;
    margin-top: 300px;
    position: absolute;
  }

  .middle {
    width: 20px;
    margin-left: 27%;
    margin-top: 100px;
    position: absolute;
  }

}