@media all and (min-width: 480px) {
    /*style for reset password page */
    .ResetPassword {
      padding: 0% 15%;
      border-style: solid;
      border-radius: 5%;
      width: 45%;
      height: 60%; 
      margin-top: 10%;
      margin-left: auto; 
      margin-right: auto;
      background: linear-gradient(to bottom,  #e43a30 15%, #2d5071 20%);
    }
     /*style for reset password form */
    .ResetPassword form {
      margin: 25% auto;
      max-width: 620%;
      display: block;
      margin-top: 0%;
      color: white;
      margin-bottom: 40%;
      height: -5px;
      font-size: 14px;
    }
    /*style for confirm reset header */
    .ResetPassword .formHeader h1 {
      display: inline-block;
      color: white;
      border-radius: 15%;
      padding-left: 15%;
      margin-bottom: 30%;
      margin-top: 8%;
      text-align: center;
      padding-bottom: 10px;
      padding-top: -10%;
     
    }

    /*style for confirm button */
    .ResetPassword Button{
      background: #e43a30;
      border: black;
      color: white;

    }
    /*style for reset form div */
    .ResetPassword .resetformHeader {
      display: inline block;
      color: white;
      border-radius: 15%;
      padding-left: 0%;
      margin-bottom: 10%;
      margin-top: -20%;
      font-size: 28px;
      text-align: center;
      padding-top: 85px;
      padding-bottom: 10px;
    
    }
     /* style for reset success form*/
    .ResetPassword .success {
      color: white;
      max-width: 400px;
      padding-top: 50px;
  
    }
    }
    /* style for reset success form*/
    .ResetPassword .success {
      color: white;
      margin: 0 auto;
      text-align: center;
      margin-top: 40%;
      margin-bottom: 20%;

    }
    /* style for reset success form*/
    .ResetPassword .success .glyphicon {
      color: white;
      font-size: 30px;
      margin-bottom: 30%;
      padding-bottom: -10px;
    }
    /*style for success header */
    .ResetPassword .success h3{
      margin-top: -45%;
      padding-bottom: 110px;
      font-size: 28px;
    }

